html, body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

body {
    background-image: url("images/loginformbackground.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo {
    width: 300px;
}

.login-box {
    width: 300px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: "Segoe UI", Inter, Helvetica, Arial, sans-serif;
    padding: 20px 0;
    gap: 6px;
}
.back-arrow {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: none; /* hidden initially */
}

.login-box input {
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    outline: none;
}

.login-box button.next-btn {
    width: 70%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid gray;
    cursor: pointer;
    background: white;
}

.login-box p {
    text-align: center;
    font-size: 0.8rem;
    color: gray;
    cursor: pointer;
    margin: 0;
}

.login-box p1 {
    text-align: center;
    font-size: 0.8rem;
    color: gray;
    margin: 6px 0 4px 0;
}


.alt-login {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
}


.email-btn {
    width: 60%;
    padding: 6px;
    border-radius: 25px;
    background: white;
    border: 1px solid #ccc;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-family: "Segoe UI", Inter, sans-serif;
    font-size: 0.85rem;
}

.email-btn:hover {
    border-color: #888;
}

.email-icon {
    width: 16px;
    height: 16px;
}

.gsi-material-button {
    width: 70%;                
    height: 36px;             
    font-size: 0.82rem;       
    border-radius: 5px;      
    border: 1px solid gray;    
    padding: 0 10px;
  background-color: WHITE;
  background-image: none;
  border: 1px solid #747775;
  border-radius: 4px;
  box-sizing: border-box;
  color: #1f1f1f;
  cursor: pointer;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 0.8rem;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  transition: background-color .218s, border-color .218s, box-shadow .218s;
  width: 60%;      
  font-family: "Segoe UI", Inter, Helvetica, Arial, sans-serif;
}

.gsi-material-button .gsi-material-button-icon {
  height: 18px;
  margin-right: 6px;
  width: 16px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  gap: 4px;
}

.gsi-material-button .gsi-material-button-contents {
  font-weight: 500;
}

.gsi-material-button:hover {
  box-shadow: 0 1px 2px 0 rgba(60,64,67,.30), 0 1px 3px 1px rgba(60,64,67,.15);
}

.gsi-material-button-state {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity .218s;
}

.gsi-material-button:disabled {
  cursor: default;
  background-color: #ffffff61;
  border-color: #1f1f1f1f;
}
